<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ConnexionServlet</servlet-name>
        <servlet-class>Servlet.ConnexionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetProduitHome</servlet-name>
        <servlet-class>Servlet.GetProduitHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscriptionServlet</servlet-name>
        <servlet-class>Servlet.InscriptionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConnexionServlet</servlet-name>
        <url-pattern>/ConnexionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetProduitHome</servlet-name>
        <url-pattern>/GetProduitHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InscriptionServlet</servlet-name>
        <url-pattern>/InscriptionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>redirectionHomePage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
